<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Diplom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add connectionString="Server=PC081\SQLPANYSH;Database=Diplom;Integrated Security=true" name="DataBaseConnection" providerName="System.Data.SqlClient"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <appSettings>
    <add key="key" value="test"/>
  </appSettings>
  <userSettings>
    <Diplom.Properties.Settings>
      <setting name="FirstTestTrys" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="FirtsTestCognitiveLoad" serializeAs="String">
        <value>True</value>
      </setting>
    </Diplom.Properties.Settings>
  </userSettings>
</configuration>
